html body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #31343C;
}
.navbar {
  box-shadow: 1px 2px 3px rgba(0,0,0,0.45);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 200;
  height: 50px;
  transition: top .2s ease-in-out;
  align-items: center;
  background-color: #49505C;
  box-sizing: content-box;
  color: #d8d8da;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Sofia Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 66px;
  line-height: 65px;
  margin: 0;
  padding: 0 10px;
  pointer-events: none;
  position: relative;
  text-transform: uppercase;
  top: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}
.navbar-button {
  padding: 0 15px;
  color: #d8d8da;
  font-size: 14px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 15px;
}
.caret-down {
  font: normal normal normal 14px/1;
}
.searchbar {
  display: block;
  line-height: 1.35;
  position: relative;
}
.search {
  background-color: #7d828a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #16181d;
  font-size: 0.95em;
  font-weight: bold;
  padding: 0.75em 2em 0.75em 0.9em;
  width: 100%;
}
.search-input {
  background-color: #7d828a;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  color: #16181d;
}
.searchbutton {
  background: transparent;
  border: none;
  color: #3c414b;
  font-size: 1.25em;
  font-weight: bold;
  left: auto;
  line-height: 1;
  overflow: visible;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0.1em;
}
.mag-glass {
  color: #3c414b;
  font-size: 20px;
  transform: rotate(-45deg);
}
.login-button {
  display: flex;
  align-items: center;
  height: 46.5px;
  border: 2px solid #757880;
  box-sizing: border-box;
  font-size: 1em;
  padding: 13px 20px;
  position: relative;
  transition: color 0.2s, border 0.2s;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  margin-left: 15px;
}
.signup-button {
  display: flex;
  align-items: center;
  height: 46.5px;
  border: 2px solid #757880;
  box-sizing: border-box;
  font-size: 1em;
  padding: 13px 20px;
  position: relative;
  transition: color 0.2s, border 0.2s;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  margin-left: -2px;
}
.navbar-left {
  min-width: 70em;
  margin-right: 15px;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding-right: 40px;
  position: fixed;
  float: left;
}
